USE [master]
GO
/****** Object:  Database [LaboratorioClinico]    Script Date: 14/8/2025 08:53:46 ******/
CREATE DATABASE [LaboratorioClinico]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LaboratorioClinico', FILENAME = N'C:\Sql\SQLData\LaboratorioClinico.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LaboratorioClinico_log', FILENAME = N'C:\Sql\SQLData\LaboratorioClinico_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaboratorioClinico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LaboratorioClinico]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 14/8/2025 08:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IDCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[FechaNacimiento] [date] NULL,
	[Genero] [char](1) NULL,
	[Telefono] [varchar](15) NULL,
 CONSTRAINT [PK__Cliente__9B8553FCCECDBB69] PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleFactura]    Script Date: 14/8/2025 08:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[IDDetalleFactura] [int] IDENTITY(1,1) NOT NULL,
	[IDFactura] [int] NULL,
	[IDDetalleOrden] [int] NULL,
	[Subtotal] [decimal](10, 2) NULL,
	[Precio] [decimal](18, 0) NULL,
	[NombreParametro] [varchar](100) NULL,
	[Idparametro] [int] NULL,
	[IdtipoExamen] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDetalleFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleOrden]    Script Date: 14/8/2025 08:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleOrden](
	[IDDetalleOrden] [int] IDENTITY(1,1) NOT NULL,
	[IDOrden] [int] NULL,
	[IDTipoExamen] [int] NULL,
	[IDMuestra] [int] NOT NULL,
 CONSTRAINT [PK__DetalleO__5379976D41F2893E] PRIMARY KEY CLUSTERED 
(
	[IDDetalleOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 14/8/2025 08:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[IDFactura] [int] IDENTITY(1,1) NOT NULL,
	[IDCliente] [int] NULL,
	[FechaFactura] [datetime] NULL,
	[Total] [decimal](10, 2) NULL,
	[IDMedico] [int] NULL,
	[TipoFacturacion] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 14/8/2025 08:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[IDMedico] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Especialidad] [varchar](100) NULL,
	[Password] [nvarchar](50) NULL,
	[Telefono] [int] NULL,
	[Rol] [nvarchar](25) NULL,
	[Correo] [nvarchar](75) NULL,
	[ResetToken] [nvarchar](50) NULL,
	[ResetTokenExpires] [datetime] NULL,
	[ContrasenaTemporal] [bit] NOT NULL,
 CONSTRAINT [PK__Medico__C65D83E64FC047CE] PRIMARY KEY CLUSTERED 
(
	[IDMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Muestra]    Script Date: 14/8/2025 08:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Muestra](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Muestra] [nvarchar](50) NULL,
 CONSTRAINT [PK_Muestra] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orden]    Script Date: 14/8/2025 08:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orden](
	[IDOrden] [int] IDENTITY(1,1) NOT NULL,
	[IDCliente] [int] NULL,
	[IDMedico] [int] NULL,
	[FechaOrden] [datetime] NULL,
	[Estado] [varchar](50) NULL,
	[fechaEntrega] [datetime] NULL,
	[NumeroMuestra] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parametro]    Script Date: 14/8/2025 08:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parametro](
	[IDParametro] [int] IDENTITY(1,1) NOT NULL,
	[IDTipoExamen] [int] NULL,
	[NombreParametro] [varchar](100) NOT NULL,
	[UnidadMedida] [varchar](50) NULL,
	[ValorReferencia] [varchar](100) NULL,
	[OpcionesFijas] [nvarchar](max) NULL,
	[Subtitulo] [nvarchar](100) NULL,
	[Precio] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDParametro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultadoExamen]    Script Date: 14/8/2025 08:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultadoExamen](
	[IDResultado] [int] IDENTITY(1,1) NOT NULL,
	[IDDetalleOrden] [int] NULL,
	[IDParametro] [int] NULL,
	[Resultado] [varchar](200) NULL,
	[FechaResultado] [datetime] NULL,
	[NombreParametro] [nvarchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDResultado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoExamen]    Script Date: 14/8/2025 08:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoExamen](
	[IDTipoExamen] [int] IDENTITY(1,1) NOT NULL,
	[NombreExamen] [varchar](100) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Subtitulos] [nvarchar](500) NULL,
	[Precio] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTipoExamen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([IDCliente], [Nombre], [FechaNacimiento], [Genero], [Telefono]) VALUES (1, N'Anderson', CAST(N'2005-01-01' AS Date), N'M', N'12345678')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleFactura] ON 

INSERT [dbo].[DetalleFactura] ([IDDetalleFactura], [IDFactura], [IDDetalleOrden], [Subtotal], [Precio], [NombreParametro], [Idparametro], [IdtipoExamen]) VALUES (1, 1, 1, CAST(200.00 AS Decimal(10, 2)), CAST(200 AS Decimal(18, 0)), N'Prueba de Embarazo(HCG)', 163, NULL)
SET IDENTITY_INSERT [dbo].[DetalleFactura] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleOrden] ON 

INSERT [dbo].[DetalleOrden] ([IDDetalleOrden], [IDOrden], [IDTipoExamen], [IDMuestra]) VALUES (1, 1, 5, 2)
INSERT [dbo].[DetalleOrden] ([IDDetalleOrden], [IDOrden], [IDTipoExamen], [IDMuestra]) VALUES (2, 2, 1, 1)
INSERT [dbo].[DetalleOrden] ([IDDetalleOrden], [IDOrden], [IDTipoExamen], [IDMuestra]) VALUES (3, 2, 2, 2)
SET IDENTITY_INSERT [dbo].[DetalleOrden] OFF
GO
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([IDFactura], [IDCliente], [FechaFactura], [Total], [IDMedico], [TipoFacturacion]) VALUES (1, 1, CAST(N'2025-08-03T00:00:00.000' AS DateTime), CAST(200.00 AS Decimal(10, 2)), 8, N'PARAMETRO')
SET IDENTITY_INSERT [dbo].[Factura] OFF
GO
SET IDENTITY_INSERT [dbo].[Medico] ON 

INSERT [dbo].[Medico] ([IDMedico], [Nombre], [Especialidad], [Password], [Telefono], [Rol], [Correo], [ResetToken], [ResetTokenExpires], [ContrasenaTemporal]) VALUES (1, N'Damaris Burgos ', N'MEDICO', N'pmWkWSBCL51Bfkhn79xPuKBKHz//H6B+mY6G9/eieuM=', 12345678, N'EMPLEADO', N'damaris@gmail.com', NULL, NULL, 0)
INSERT [dbo].[Medico] ([IDMedico], [Nombre], [Especialidad], [Password], [Telefono], [Rol], [Correo], [ResetToken], [ResetTokenExpires], [ContrasenaTemporal]) VALUES (2, N'Sayda Burgos', N'MEDICO', N'pmWkWSBCL51Bfkhn79xPuKBKHz//H6B+mY6G9/eieuM=', 12345678, N'EMPLEADO', N'sayda@gmail.com', NULL, NULL, 0)
INSERT [dbo].[Medico] ([IDMedico], [Nombre], [Especialidad], [Password], [Telefono], [Rol], [Correo], [ResetToken], [ResetTokenExpires], [ContrasenaTemporal]) VALUES (3, N'Edinson Treminio', N'MEDICO', N'pmWkWSBCL51Bfkhn79xPuKBKHz//H6B+mY6G9/eieuM=', 12345678, N'EMPLEADO', N'edinson@gmail.com', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Medico] OFF
GO
SET IDENTITY_INSERT [dbo].[Muestra] ON 

INSERT [dbo].[Muestra] ([id], [Muestra]) VALUES (1, N'HECES')
INSERT [dbo].[Muestra] ([id], [Muestra]) VALUES (2, N'SANGRE')
INSERT [dbo].[Muestra] ([id], [Muestra]) VALUES (3, N'SUERO')
SET IDENTITY_INSERT [dbo].[Muestra] OFF
GO
SET IDENTITY_INSERT [dbo].[Orden] ON 

INSERT [dbo].[Orden] ([IDOrden], [IDCliente], [IDMedico], [FechaOrden], [Estado], [fechaEntrega], [NumeroMuestra]) VALUES (1, 1, 1, CAST(N'2025-08-03T10:08:06.600' AS DateTime), N'COMPLETADO', CAST(N'2025-08-03T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Orden] ([IDOrden], [IDCliente], [IDMedico], [FechaOrden], [Estado], [fechaEntrega], [NumeroMuestra]) VALUES (2, 1, 2, CAST(N'2025-08-04T00:00:00.000' AS DateTime), N'ORDEN-ANULADA', CAST(N'2025-08-04T00:00:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Orden] OFF
GO
SET IDENTITY_INSERT [dbo].[Parametro] ON 

INSERT [dbo].[Parametro] ([IDParametro], [IDTipoExamen], [NombreParametro], [UnidadMedida], [ValorReferencia], [OpcionesFijas], [Subtitulo], [Precio]) VALUES (1, 1, N'Proteína C Reactiva (PCR)', N'', N'Hasta 6 mg/L', N'Negativo,6 mg/L,12 mg/L,24 mg/L,48 mg/L,96 mg/L,192 mg/L,384 mg/L', N'', CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[Parametro] ([IDParametro], [IDTipoExamen], [NombreParametro], [UnidadMedida], [ValorReferencia], [OpcionesFijas], [Subtitulo], [Precio]) VALUES (2, 1, N'Antiestreptolisina O (ASO)', N'', N'Hasta 200 IU/mL', N'Negativo,200 IU/mL,400 IU/mL,800 IU/mL,1600 IU/mL', N'', CAST(150.00 AS Decimal(10, 2)))
INSERT [dbo].[Parametro] ([IDParametro], [IDTipoExamen], [NombreParametro], [UnidadMedida], [ValorReferencia], [OpcionesFijas], [Subtitulo], [Precio]) VALUES (3, 1, N'Factor Reumatoide (FR)', N'', N'Menor de 8 IU/mL', N'Negativo,8 IU/mL,16 IU/mL,32 IU/mL,64 IU/mL,128 IU/mL,256 IU/mL,512 IU/mL', N'', CAST(150.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[Parametro] OFF
GO
SET IDENTITY_INSERT [dbo].[ResultadoExamen] ON 

INSERT [dbo].[ResultadoExamen] ([IDResultado], [IDDetalleOrden], [IDParametro], [Resultado], [FechaResultado], [NombreParametro]) VALUES (1, 1, 38, N'', CAST(N'2025-08-03T10:08:06.120' AS DateTime), N'MUESTRA')
INSERT [dbo].[ResultadoExamen] ([IDResultado], [IDDetalleOrden], [IDParametro], [Resultado], [FechaResultado], [NombreParametro]) VALUES (2, 1, 40, N'', CAST(N'2025-08-03T10:08:06.160' AS DateTime), N'RESULTADO')
INSERT [dbo].[ResultadoExamen] ([IDResultado], [IDDetalleOrden], [IDParametro], [Resultado], [FechaResultado], [NombreParametro]) VALUES (3, 1, 41, N'', CAST(N'2025-08-03T10:08:06.170' AS DateTime), N'MUESTRA')
SET IDENTITY_INSERT [dbo].[ResultadoExamen] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoExamen] ON 

INSERT [dbo].[TipoExamen] ([IDTipoExamen], [NombreExamen], [Descripcion], [Subtitulos], [Precio]) VALUES (1, N'SEROLOGÍA', N'Serología', N'', CAST(200.00 AS Decimal(18, 2)))
INSERT [dbo].[TipoExamen] ([IDTipoExamen], [NombreExamen], [Descripcion], [Subtitulos], [Precio]) VALUES (2, N'HEMATOLOGÍA', N'Biometría hemática completa ', N'Recuento Diferencial', CAST(200.00 AS Decimal(18, 2)))
INSERT [dbo].[TipoExamen] ([IDTipoExamen], [NombreExamen], [Descripcion], [Subtitulos], [Precio]) VALUES (3, N'UROANALISIS', N'Examen General De Orina', N'Físico,Químico,Microscópico', CAST(200.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TipoExamen] OFF
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT (getdate()) FOR [FechaFactura]
GO
ALTER TABLE [dbo].[Medico] ADD  CONSTRAINT [DF__Medico__Contrase__38996AB5]  DEFAULT ((0)) FOR [ContrasenaTemporal]
GO
ALTER TABLE [dbo].[Orden] ADD  DEFAULT (getdate()) FOR [FechaOrden]
GO
ALTER TABLE [dbo].[Orden] ADD  DEFAULT ('PENDIENTE') FOR [Estado]
GO
ALTER TABLE [dbo].[ResultadoExamen] ADD  DEFAULT (getdate()) FOR [FechaResultado]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK__DetalleFa__IDDet__403A8C7D] FOREIGN KEY([IDDetalleOrden])
REFERENCES [dbo].[DetalleOrden] ([IDDetalleOrden])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK__DetalleFa__IDDet__403A8C7D]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD FOREIGN KEY([IDFactura])
REFERENCES [dbo].[Factura] ([IDFactura])
GO
ALTER TABLE [dbo].[DetalleOrden]  WITH CHECK ADD  CONSTRAINT [FK__DetalleOr__IDOrd__300424B4] FOREIGN KEY([IDOrden])
REFERENCES [dbo].[Orden] ([IDOrden])
GO
ALTER TABLE [dbo].[DetalleOrden] CHECK CONSTRAINT [FK__DetalleOr__IDOrd__300424B4]
GO
ALTER TABLE [dbo].[DetalleOrden]  WITH CHECK ADD  CONSTRAINT [FK__DetalleOr__IDTip__30F848ED] FOREIGN KEY([IDTipoExamen])
REFERENCES [dbo].[TipoExamen] ([IDTipoExamen])
GO
ALTER TABLE [dbo].[DetalleOrden] CHECK CONSTRAINT [FK__DetalleOr__IDTip__30F848ED]
GO
ALTER TABLE [dbo].[DetalleOrden]  WITH CHECK ADD  CONSTRAINT [FK_DetalleOrden_Muestra] FOREIGN KEY([IDMuestra])
REFERENCES [dbo].[Muestra] ([id])
GO
ALTER TABLE [dbo].[DetalleOrden] CHECK CONSTRAINT [FK_DetalleOrden_Muestra]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK__Factura__IDClien__3C69FB99] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Cliente] ([IDCliente])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK__Factura__IDClien__3C69FB99]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Medico] FOREIGN KEY([IDMedico])
REFERENCES [dbo].[Medico] ([IDMedico])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Medico]
GO
ALTER TABLE [dbo].[Orden]  WITH CHECK ADD  CONSTRAINT [FK__Orden__IDCliente__2C3393D0] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Cliente] ([IDCliente])
GO
ALTER TABLE [dbo].[Orden] CHECK CONSTRAINT [FK__Orden__IDCliente__2C3393D0]
GO
ALTER TABLE [dbo].[Orden]  WITH CHECK ADD  CONSTRAINT [FK__Orden__IDMedico__2D27B809] FOREIGN KEY([IDMedico])
REFERENCES [dbo].[Medico] ([IDMedico])
GO
ALTER TABLE [dbo].[Orden] CHECK CONSTRAINT [FK__Orden__IDMedico__2D27B809]
GO
ALTER TABLE [dbo].[Parametro]  WITH CHECK ADD FOREIGN KEY([IDTipoExamen])
REFERENCES [dbo].[TipoExamen] ([IDTipoExamen])
GO
ALTER TABLE [dbo].[ResultadoExamen]  WITH CHECK ADD  CONSTRAINT [FK__Resultado__IDDet__37A5467C] FOREIGN KEY([IDDetalleOrden])
REFERENCES [dbo].[DetalleOrden] ([IDDetalleOrden])
GO
ALTER TABLE [dbo].[ResultadoExamen] CHECK CONSTRAINT [FK__Resultado__IDDet__37A5467C]
GO
ALTER TABLE [dbo].[ResultadoExamen]  WITH CHECK ADD FOREIGN KEY([IDParametro])
REFERENCES [dbo].[Parametro] ([IDParametro])
GO
USE [master]
GO
